<?xml version="1.0" encoding="UTF-8"?>
 <widget xmlns="http://www.w3.org/ns/widgets" height="200" id="http://cloudia" version="1.0.0" viewmodes="windowed fullscreen" width="200">
    
    <name short="hellobasic">cloudia</name>    

    <description>
       A CloudApp client for Nokia Series 40
    </description>
    
    <!-- Note: Author href MUST BE Url encoded 
        @see http://en.wikipedia.org/wiki/Percent-encoding -->    
    <author email="yuripertamax@gmail.com" href="http://yuripertamax.github.com/cloudia">
        
    </author>
    
    <icon src="icon.png"/>

    <content src="index.html"/>
    
    <license>
	   Copyright Cloudia 2012
    </license>
    
   	<feature name="nokia://s40.nokia.com/SAWRT/2.0" required="true" />
</widget>
